html, body { height: 100%; width: 100%; }
body {
  margin: 0;
  padding: 0;
  font-family: "Product Sans", sans-serif;
  background-color: $dark;
  color: $light;
}
a {
  color: $gray;
  &:hover { text-decoration: none; color: white; }
}
input, .form-control { height: calc(1.5em + 0.4rem); font-size: .9rem; }
