// COLORS
.primary { color: $primary; }
.secondary { color: $secondary; }
.accent { color: $accent; }
.dark { color: $dark; }
.dark-semi { color: $dark-semi; }
.light { color: $light; }
.gray { color: $gray; }

// BACK-COLORS
.back-primary { background-color: $primary; }
.back-secondary { background-color: $secondary; }
.back-accent { background-color: $accent; }
.back-dark { background-color: $dark; }
.back-dark-semi { background-color: $dark-semi; }
.back-light { background-color: $light; }
.back-gray { background-color: $gray; }

// FONTS
.font-regular { font-family: "Product Sans", sans-serif; }
.font-bold { font-family: "Product Sans Bold", sans-serif; }
.font-italic { font-family: "Product Sans Italic", sans-serif; }
